.node {
    font-size: 10px;
    outline: 1px solid rgba(52, 63, 86, 0.5);
    user-select: none;
    display: inline-block;
}
  
.unvisited-node {
    background-color: white; 
}

.visited-node {
  animation-name: visitedNodeAnimation;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
  animation-play-state: running;  
}

.path-node {
  animation-name: pathNodeAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
  animation-play-state: running;  
}

.start-node{
    background-color: #2c9968;
    cursor: pointer;
}

.target-node {
    background-color: #ec1c38;
    cursor: pointer;
}
  
.wall-node{
    background-color: #343f56;
    outline: 1px solid rgba(95, 110, 143, 0.5);
    user-select: none;
    cursor: pointer;

    animation-name: obstacleAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    animation-play-state: running;  
}


@keyframes obstacleAnimation {
    0% {
      transform: scale(0.3);
      border-radius: 100%;
    }
  
    75% {
      transform: scale(1.5);
    }
  
    100% {
      transform: scale(1);
    }
}

@keyframes visitedNodeAnimation {
  0% {
    transform: scale(.3);
    background-color: #ffadad;
    border-radius: 100%;
  }

  15% {
    background-color: #fdffb6;
  }

  30% {
    background-color: #9bf6ff;
  }

  85% {
    transform: scale(1.2);
    background-color: #bdb2ff;
  }

  100% {
    transform: scale(1.0);
    background-color: #ffc6ff;
  }
}

@keyframes pathNodeAnimation {
  0% {
    transform: scale(.3);
    background-color: #150c4d;
    border-radius: 100%;
  }

  50% {
    background-color: #2a4dc1;
  }

  75% {
    transform: scale(1.2);
    background-color: #5698e2;
  }

  100% {
    transform: scale(1.0);
    background-color: #9bf6ff;
  }
}